# Xojo (formerly REALbasic and Real Studio)

# ===== TESSA Config
# TESSA_Config
WorkFolderPrefs.xml

# ===== TESSA Source
Result.txt
Text99.txt
TESSA_Prefs Kopie.xml
# Elements
# DebugTexts

# ===== Xojo
Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete