# Xojo (formerly REALbasic and Real Studio)

TESSA_Config
WorkFolderPrefs.xml

/• My TessaData/
src/DebugTexts
PIIOXListener.debug
Result.txt
Text99.txt
TESSA.debug
TESSA_Prefs Kopie.xml
# Elements
# DebugTexts

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete