# Xojo (formerly REALbasic and Real Studio)

TESSA_Config/SYNCPrefs.xml
TESSA_Prefs.xml
TESSA_Config.xml
WorkFolderPrefs.xml
*.obsolete*
*.xojo_uistate
*.debug.app/

/• My TessaData/
src/DebugTexts
PIIOXListener.debug
Result.txt
Text99.txt
TESSA.debug
TESSA_Prefs Kopie.xml
Elements
DebugTexts
Testsequences

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete