<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version = "1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>TESSA need to access camera to take photos and videos </string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>TESSA needs to access photo library to save photos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>TESSA needs to access your microphone to record a video.</string>
</dict>
</plist>